.HomePage {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("./homepage-background.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.HomePage-linkcontainer {
	height: 57%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.HomePage-titlecontainer {
	height: 43%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.HomePage-titlecontainer h1,
.HomePage-titlecontainer p {
	text-align: center;
	color: white;
	font-family: "Dancing Script", cursive;
}

.HomePage-titlecontainer p {
	font-size: 2rem;
}

.HomePage-titlecontainer h1 {
	font-size: 6rem;
}

@media (max-width: 768px) {
	.HomePage-titlecontainer p {
		font-size: 1.5rem;
	}

	.HomePage-titlecontainer h1 {
		font-size: 4rem;
	}
}
