.Store {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Store h1 {
	font-weight: 300;
	letter-spacing: 2px;
	color: #444;
	margin: 2rem;
}

.Store-main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
}

.Store-filters {
	width: 20%;
	border-right: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Store-filters h3 {
	text-transform: uppercase;
	padding: 1rem;
	font-size: 0.9rem;
}

.Store-products {
	width: 80%;
}
.Store-products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 1200px) {
	.Store-main {
		flex-direction: column;
	}
	.Store-filters {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border-right: none;
		border-bottom: 1px solid #ddd;
	}
	.Store-filters button {
		text-align: center;
		padding: 1rem 0;
	}
	.Store-filters h3 {
		display: none;
	}
	.Store-products {
		width: 100%;
		justify-content: space-around;
	}
}
