.Payment {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
}

.Payment-left {
	width: 50%;
	height: 100%;
	background-color: #fff;
	border-right: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Payment-right {
	width: 50%;
	height: 100%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Payment-summary {
	width: 50%;
	height: 50%;
	background-color: #fff;
	border-radius: 2rem;
	padding: 1rem;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Payment-summary p {
	text-align: right;
	font-weight: bold;
}

.Payment-item {
	height: 5rem;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Payment-total {
	border-top: 1px solid #333;
}

@media (max-width: 1200px) {
	.Payment-summary {
		width: 80%;
	}
}

@media (max-width: 1024px) {
	.Payment {
		flex-direction: column-reverse;
		overflow-y: auto;
	}
	.Payment-right {
		width: 100%;
		min-height: 35rem;
	}
	.Payment-summary {
		height: auto;
		overflow-y: auto;
		margin: 2rem 0;
	}
	.Payment-left {
		min-height: 35rem;
		width: 100%;
		padding: 2rem 0;
		border: none;
	}
}
