.Cart {
	width: 100vw;
	height: calc(100vh - 4.5rem);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Cart-content {
	height: 100%;
	width: 100%;
	margin: 1rem;
	flex: 1 1 1;
}

.Cart-content h2 {
	padding: 2rem;
}

.Cart-item-container {
	border: 1px solid grey;
	width: 100%;
	height: calc(100% - 12rem);
	overflow-y: auto;
	overflow-x: hidden;
}

.Cart-summary {
	width: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.Cart-image {
	height: 100%;
	animation-name: slide-up;
	animation-duration: 0.9s;
}

@keyframes slide-up {
	0% {
		transform: translateY(100vh);
	}
	100% {
		transform: translateY(0);
	}
}

@media (max-width: 1600px) {
	.Cart-image {
		display: none;
	}
}
@media (max-width: 768px) {
	.Cart-summary {
		margin-right: 4rem;
	}
	.Cart-content {
		width: 90%;
	}
}
