.Sidebar {
	position: absolute;
	background-color: #333;
	border-left: 1px solid white;
	top: 0;
	right: 0;
	width: 20rem;
	height: 100%;
	z-index: 10;
	margin: 0;
	animation-name: sidebar-open;
	animation-duration: 0.5s;
}

@keyframes sidebar-open {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.Sidebar {
		display: block;
	}
}
