.ButtonPrimary {
	height: 80%;
	padding: 0 1.5rem;
	border-radius: 0.5rem;
	color: #fff;
	outline: none;
	border: none;
	background-color: rgb(233, 151, 0);
	cursor: pointer;
	transition: all 0.1s ease-in;
}

.ButtonPrimary:hover {
	background-color: rgb(197, 128, 0);
}
