.CartItem {
	width: 98%;
	height: 15rem;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.CartItem-image {
	height: 100%;
	width: 20rem;
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

.CartItem-image img {
	height: 90%;
	width: 100%;
	object-fit: cover;
}

.CartItem-content {
	padding: 1rem;
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.CartItem-content h4 {
	font-size: 1.5rem;
}

.CartItem-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 10%;
	margin: 1rem;
}

.CartItem-totalprice {
	text-align: right;
	font-weight: bold;
}

@media (max-width: 1200px) {
	.CartItem {
		height: 20rem;
	}
}

@media (max-width: 1024px) {
	.CartItem {
		justify-content: space-around;
	}
	.CartItem-image {
		display: none;
	}
	.CartItem-content {
		width: 60%;
	}
	.CartItem-buttons {
		width: 20%;
	}
	.CartItem {
		height: 30rem;
	}
}

@media (max-width: 768px) {
	.CartItem {
		justify-content: space-between;
		height: 15rem;
	}

	.CartItem-description {
		display: none;
	}
	.CartItem-content {
		width: 30%;
	}
}
