.Checkout {
	width: 100vw;
	min-height: 100vh;
	padding: 2rem 0;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Checkout-form {
	height: auto;
	width: 40%;
	border-radius: 1rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.Checkout-form h2 {
	color: #333;
	text-align: center;
}
.Checkout-form label {
	margin: 0.5rem 1rem;
}

@media (max-width: 1200px) {
	.Checkout-form {
		width: 60%;
	}
}
@media (max-width: 1024px) {
	.Checkout-form {
		width: 70%;
	}
}
@media (max-width: 768px) {
	.Checkout-form {
		width: 80%;
	}
}

@media (max-width: 480px) {
	.Chekcout-form {
		width: 90%;
	}
}
