.Checkout {
	width: 100vw;
	height: 100vh;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Checkout-form {
	height: auto;
	width: 40%;
	border-radius: 1rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.Checkout-form h2 {
	color: #333;
	text-align: center;
}

.Checkout-form input {
	padding: 1.5rem;
	margin: 0.5rem 1rem;
	border-radius: 1rem;
	border: none;
	outline: none;
	background-color: #ddd;
	font-size: 1.3rem;
}

.Checkout-form label {
	margin: 0.5rem 1rem;
}
