@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Encode Sans SC", sans-serif;
	letter-spacing: 1px;
}
